@use "../base/typography.scss";
.light-settings {
  background-color: #1b1b1e;
  height: 100vh;
  width: 20em;
  .light-preview {
    height: 50vh;


    ul {
      li {
        color:white;
        display: flex;
        padding:4px 24px;
        justify-content: space-between;
      }
    }
  }
}
