.light-preview
{
    .light-preview-title
    {
font-size: 10px;
    }
    .light
{
    display:flex;
    align-items: center;
    cursor: pointer;
    &:hover
    {
        background-color: red;
    }
}
.light-active
{
    background-color: red;
}
}

.light-setting
{
    display: flex;
    flex-direction: column;
    
}

.toggle-bar 
{
    margin:10px;
    padding: 10px;
    flex-wrap: wrap;
    display:flex;
    border-radius: 10px;
    background-color: black;
justify-content: space-around;

}
select
{
    background-color: black;
}
.material-container
{
    height: 39vh;
     overflow-y: scroll;
}
.material
{
    margin:20px ;


}