
.delete
{
    width:20px;
height:20px;

}
.delete-button
{
    background-color: none;
    margin: 0;
}
.light-preview
{
    .light-preview-title
    {
        margin:10px 24px;
font-size: 16px;
    }
    .light
{
    display:flex;
    align-items: center;
    cursor: pointer;
    &:hover
    {
        background-color: rgb(91, 91, 91);
    }
}
.light-active
{
    background-color: rgb(91, 91, 91);

}



}

.light-setting
{
    display: flex;
    flex-direction: column;
    margin:16px;
    
}

.toggle-bar 
{
    margin:10px;
    flex-wrap: wrap;
    display:flex;

   li 
    {
    padding: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
margin: 0;

    }


}
select
{
    background-color: black;
}
.material-container
{
    height: 30vh;
     overflow-y: scroll;
     
/* Custom Scrollbar Styling */
&::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

&::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Thumb color */
    border-radius: 5px; /* Rounded corners */
}

&::-webkit-scrollbar-track {
    background: none; /* No background */
}

&::-webkit-scrollbar-button {
    display: none; /* Remove the arrows */
}
}
.material
{
    margin-bottom:20px;
    border-bottom: 1px solid white;
    padding-bottom:  20px;
    margin-right: 10px;


}
label
{
    color:white;
}
.properties
{
    margin: 16px;
}
 .property
 {
    
    display: flex;
    justify-content: space-around;
 }
 .light-property
 {
    margin:5px 0px;
    display: flex;
    justify-content: space-between;
 }

.property-name
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 16px;
}
.add
{
    margin-top:10px;
    text-align: center;

    span
    {
        color:rgb(0, 225, 255);
    }
}