<div class="light-preview">
  <h4>light preview</h4>
  <ul>
    <li
      class="light"
      *ngFor="let light of lights"
      (click)="displayLightData(light)"
    >
      <span>{{ light.lightName }}</span
      ><button (click)="deleteLight(light.LightID)">delete</button>
    </li>
  </ul>
</div>
<div class="light-setting" *ngIf="selectedLight">
  {{selectedLight|json}}

    <label for="">color</label>
    <input type="color" #colorPicker [(ngModel)]="selectedLight.color"  (input)="hexToRgb(colorPicker.value)" (change)="changeLight()" />
    <label for="">X</label>
    <input type="number" [(ngModel)]="selectedLight.position[0]" (change)="changeLight()" />
    <label for="">Y</label>
    <input type="number" [(ngModel)]="selectedLight.position[1]" (change)="changeLight()"/>
    <label for="">Z</label>
    <input type="number" [(ngModel)]="selectedLight.position[2]" (change)="changeLight()"/>
  
    <label for="">Strength</label>
    <input type="number" [(ngModel)]="selectedLight.intencity" (change)="changeLight()"/>
   
  

  
</div>
