<div class="light-preview">
  <h4>light preview</h4>
  <ul>
    <li
      class="light"
      *ngFor="let light of lights"
      [ngClass]="lightStyle(light.LightID)"
      (click)="displayLightData(light)"
    >
      <span>{{ light.lightName }} </span
      ><button (click)="deleteLight(light.LightID)">delete</button>
    </li>
  </ul>
</div>
<div>
  <ul class="toggle-bar">
    <li (click)="toggle(1)">Light</li>
    <li (click)="toggle(2)">Metalic</li>
    <li (click)="toggle(3)">Roughness</li>
    <li (click)="toggle(4)">IOR</li>
    <li (click)="toggle(5)">Color</li>
    <li (click)="toggle(6)">Normal</li>
  </ul>
</div>

<div *ngIf="currentMaterialProperties">
  {{ currentMaterialProperties.name }}
  <div *ngIf="!currentMaterialProperties.isTexture">
    <label for=""> {{ currentMaterialProperties.name }}</label>
    <input
      *ngIf="
        currentMaterialProperties.name != 'color' &&
        currentMaterialProperties.name != 'normal'
      "
      type="number"
      name=""
      min="0.01"
      max="0.99"
      step="0.01"
      [value]="currentMaterialProperties.value"
      (change)="changeValue($event)"
      id=""
    />
    <input
      *ngIf="currentMaterialProperties.name == 'color'"
      type="color"
      [value]="currentMaterialProperties.value"
      (change)="changeValue($event)"
      id=""
    />
    <div *ngIf="currentMaterialProperties.name != 'IOR'">
      <span (click)="addProceduralTexture()"> Add Procedural Texture</span>
      <span (click)="addImageTexture()"> Add Image Texture</span>
    </div>
  </div>
  <div
    *ngIf="
      currentMaterialProperties.isTexture &&
      !currentMaterialProperties.isImageTexture
    "
  >
    <div style="height: 40vh; overflow-y: scroll">
      <div
        *ngFor="
          let texture of currentMaterialProperties.TextureProperties;
          let i = index
        "
      >
        <div>
          <label for="">texture Type</label>
          <select
            [(ngModel)]="texture.name"
            (change)="changeProceduralTextureType($event, i)"
          >
            <option *ngFor="let type of TexturePreset" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
        <div>
          <label for="">scale</label>
          <input
            type="number"
            name=""
            id=""
            [value]="texture.scale"
            (change)="setTextureScale($event, i)"
          />
        </div>
        <div>
          <label for=""> upper</label>
          <input
            type="number"
            [value]="texture.upper"
            (change)="setTextureUpper($event, i)"
            min="0"
            max="0.9"
            step="0.1"
          />
        </div>
        <div>
          <label for="">lower</label>
          <input
            type="number"
            [value]="texture.lower"
            (change)="setTextureLower($event, i)"
            min="0"
            max="0.9"
            step="0.1"
          />
        </div>
        <div *ngIf="currentMaterialProperties.name == 'color'">
          <label for=""> color 1 </label>
          <input
            type="color"
            (change)="changeTextureColor($event, 1, i)"
            [value]="texture.color1"
            name=""
            id=""
          />
          <label for="">color 2 </label>
          <input
            type="color"
            (change)="changeTextureColor($event, 2, i)"
            [value]="texture.color2"
            name=""
            id=""
          />
        </div>

        <div *ngIf="currentMaterialProperties.TextureProperties[i].itter">
          <label for="">itteration</label>
          <input
            type="number"
            name=""
            id=""
            (change)="setItteration($event, i)"
            [value]="currentMaterialProperties.TextureProperties[i].itter"
          />
        </div>
        <button
          (click)="removeTexture(i)"
          *ngIf="currentMaterialProperties.TextureProperties.length > 1"
        >
          remove texture
        </button>
      </div>
      <button (click)="addTexture()">add texture</button>
    </div>
  </div>

  <div
    *ngIf="
      currentMaterialProperties.isTexture &&
      currentMaterialProperties.isImageTexture
    "
  >
    <input
      type="file"
      (change)="setImageTexture($event)"
      [value]="currentMaterialProperties.imgSrc"
    />
    <label for="">factor</label>
    <input type="number" />
    <button (click)="closeImageComponent()">close</button>
  </div>
</div>

<div class="light-setting" *ngIf="selectedLight && fieldToggle == 1">
  <div>
    <label for="">color</label>
    <input
      type="color"
      #colorPicker
      [(ngModel)]="modifiedData"
      (input)="hexToRgb(colorPicker.value)"
      (change)="changeLight()"
    />
  </div>
  <div>
    <label for="">X</label>
    <input
      type="number"
      [(ngModel)]="selectedLight.position[0]"
      (change)="changeLight()"
    />
  </div>
  <div>
    <label for="">Y</label>
    <input
      type="number"
      [(ngModel)]="selectedLight.position[1]"
      (change)="changeLight()"
    />
  </div>
  <div>
    <label for="">Z</label>
    <input
      type="number"
      [(ngModel)]="selectedLight.position[2]"
      (change)="changeLight()"
    />
  </div>
  <div>
    <label for="">Strength</label>
    <input
      type="number"
      [(ngModel)]="selectedLight.intencity"
      (change)="changeLight()"
    />
  </div>
</div>
