<div class="canvas-container">
  <div
    *ngIf="displayContextMenu"
    class="context-menu"
    [ngStyle]="{ top: mousePosition[1] + 'px', left: mousePosition[0] + 'px' }"
  >
  <p class="primary-bold  context-menu-main-heading">Add</p>
  
    <ul>
      <li class="primary-regular  context-menu-heading">Lights</li>
      <ul>
        <li class="context-clickable" *ngFor="let light of LightPreset" (click)="addLight(light)">
          {{ light }}
        </li>
      </ul>
      <li class="primary-regular  context-menu-heading">Object</li>
      <ul>
        <li class="context-clickable" *ngFor="let object of ObjectPreset" (click)="changeObject(object)">
          {{ object }}
        </li>
        
      </ul>
    </ul>
  </div>
<input type="file" style="display:none" id="import" (change)="uploadfile($event)"> 
  <canvas
    #canvas
    (contextmenu)="rightClick($event)"
    (mousedown)="down($event)"
    (mouseup)="up()"
    (mousemove)="rotate($event)"
    height="1280"
    width="1280"
    (wheel)="scale($event)"
    id="canvas"
  ></canvas>
</div>
