<div class="canvas-container">
  <button class="get-texture" (click)="getTextures()">get textures</button>

  <div
    *ngIf="displayContextMenu"
    class="context-menu"
    [ngStyle]="{ top: mousePosition[1] + 'px', left: mousePosition[0] + 'px' }"
  >
  <p class="primary-bold  context-menu-main-heading">Add</p>
  
    <ul>
      <li class="primary-regular  context-menu-heading">Lights</li>
      <ul>
        <li class="context-clickable" *ngFor="let light of LightPreset" (click)="addLight(light)">
          {{ light }}
        </li>
      </ul>
      <li class="primary-regular  context-menu-heading">Object</li>
      <ul>
        <li class="context-clickable" *ngFor="let object of ObjectPreset" (click)="changeObject(object)">
          {{ object }}
        </li>
        
      </ul>
    </ul>
  </div>
  <canvas class="canvas"
    #canvas
    (contextmenu)="rightClick($event)"
    (mousedown)="down($event)"
    (mouseup)="up()"
    (mousemove)="rotate($event)"
    height="1280"
    width="1280"
    (wheel)="scale($event)"
    id="canvas"
  >
</canvas>
</div>
<!-- <button (click)="changeMetallic()">aaaaaaa</button> -->
<!-- <label for="">metalicness</label>
<input type="range" min="0.1" max="0.9" (change)="setMetalic($event)" step="0.01">

<label for="">roughness</label>
<input type="range" min="0" max="1" (change)="setRoughness($event)" step="0.01">

<label for="">IOR</label>
<input type="range" min="1" max="10" (change)="setIOR($event)" step="0.01" value="1.45"> -->

<!-- <input type="file" (change)="uploadImage($event)"> -->
<input type="file" style="display:none" id="import" (change)="uploadfile($event)"> 
